/*background selector*/
*{
    background-color: aqua;
    font-style: italic;
    font-size: large;
    color: black;

}
/*tag selector*/
h1{
    font-size: xx-large
}

.image {
    width: 100ex;
    height: auto;
    padding-left: 50px;
    filter: sepia(100%);
    border-radius: 1000px;
}
h2{
   font-style: oblique;
   font-size: medium;
   color: blue;
}

h3{
    font-size: medium;
    font-style: inherit;
    color: blue;
}
h4{
    font-style: initial;
    font-weight: bold;
    color: blue;
h5{
    font-size: medium;
    font-style: inherit;
    color: blue;
}
}
.para1{
    color: brown;
    font-size: x-large;
}
.about{
    display: flex;
    list-style-type: upper-roman;
    padding-right: 30px;
}